.container{
    width: 500px;
    height: 100%;
    border-style: groove;
    border-radius: 5%;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background-size: cover;
    background-image: url(../../assets/CardsPetRegistrationBackgroundPhotoo.png);
}

.form-control{
    float: left;
}

.form-select{
    width: 100%;
    height: 35px;
}  

body{
    height: 100%;
    width: 100%;
    padding-top: 7.5%;
    padding-bottom: 3.5%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../../assets/card.png);
}

.btn-primary{
    margin-top: 7%;
    margin-left: 5%;
    background-color: #c9315c !important;
    border-color: #c9315c;
}