<div class="header"></div>
<div class="jumbotron">
  <section class="container">
    <h1 class="row" style="padding: 30px;text-align:center">Cadastro do Pet</h1>
    <form class="row g-3 align-items-center" novalidate #form="ngForm" (submit)="onSubmit(form)">
      
      <div class="col-md-6">
        <label>Nome</label>
        <input
          name="nome"
          class="form-control"
          placeholder="Digite o nome do pet"
          [(ngModel)]="this.petService.formData.name"
          required
          [class.invalid]="nome.invalid && nome.touched"
          minlength="2"
          maxlength="60"
          #nome="ngModel"
        />
      </div>
      
      <div class="col-md-6">
        <label>Animal</label>
        <input
          name="animal"
          class="form-control"
          placeholder="Ex: cachorro"
          [(ngModel)]="this.petService.formData.animal"
          required
          [class.invalid]="animal.invalid && animal.touched"
          minlength="1"
          maxlength="60"
          #animal="ngModel"
        />
      </div>
    
      <div class="col-md-6">
        <label>Raça</label>
        <input
          name="raca"
          class="form-control"
          placeholder="Ex: vira-lata"
          [(ngModel)]="this.petService.formData.breed"
          required
          [class.invalid]="raca.invalid && raca.touched"
          minlength="2"
          maxlength="60"
          #raca="ngModel"
        />
      </div>
      <div class="col-md-6" style="padding-top: 10px;">
        
        <label>Idade (anos / meses)</label>
        <input 
          name="anos"
          class="form-control" 
          type="number"
          [(ngModel)]="this.petService.formData.age_years"
          required
          [class.invalid]="anos.invalid && anos.touched"
          minlength="1"
          maxlength="2"
          #anos="ngModel"
          style="width: 50%;">
        <input 
          name="meses"
          class="form-control" 
          type="number"
          [(ngModel)]="this.petService.formData.age_months"
          required
          [class.invalid]="meses.invalid && meses.touched"
          minlength="1"
          maxlength="2"
          #meses="ngModel"
          style="width: 50%;">
      </div>
      <div class="col-6">
        <label>Porte</label>
        <br>
        <select
        class="form-select"
        name="porte"
        [(ngModel)]="this.petService.formData.size"
        #porte="ngModel"
        
      >
        <option selected value="1">Pequeno</option>
        <option value="2">Médio</option>
        <option value="3">Grande</option>
      </select>
      </div>

      <div class="col-md-6"style="padding-top: 10px;">
        <label>Foto</label>
        <input
          name="foto"
          class="form-control"
          type="file"
          id="file"
          [(ngModel)]="this.petService.formData.photos"
          #foto="ngModel"
        />
      </div>  

      <div class="col-12">
        <label>Descrição</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
        name="description"
        [(ngModel)]="this.petService.formData.description"
        #description = "ngModel"
        ></textarea>
      </div>

      <div class="col-12" style="margin-left: 39%; padding-top: 20px;">
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid" >
          Salvar
        </button>
      </div>

    </form>
  </section>
</div>