body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.jumbotron{
  padding-top: 3.5rem;
  background-color: #6b737a;
  background-image: url(../../assets/card.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.container{
  width: 500px;
  margin-left: 32%;
  margin-top: 1%;
  margin-right: 25%;
  border-style: groove;
  border-color:white;
  border-radius: 5%;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
  background-image: url(../../assets/CardsPetRegistrationBackgroundPhotoo.png);
  background-size: cover;
  height: 100%;
  color: black;
}

.form-signin {
  width: 50%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.btn-primary{
  background-color:#c9315c;
  border-color: #c9315c; 
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin label[for="floatingInput"]{
  margin-right: 100%;
  
}
.form-signin label[for="floatingPassword"]{
  margin-right: 100%;

}

form{
  margin-top: 100px;
}


.form{
  border-style: groove;
}