<br>
<br>
<div class="header">Título </div>
<div class="row">
    <div class="col-md-6">
        <img src="../assets/cachorro.jfif" alt="" style="border-radius: 5%;" 
        >
    </div>
    <div class="col-md-6">
        <div class="description">
            <p>Nome:{{this.petService.formData.name}}</p>
            <p>Tipo:</p>
            <p>Raça:</p>
            <p>Idade:</p>
            <p>Dono</p>
            <p>Endereço</p>
            <p>Descrição:</p>
        </div>
    </div>
    
</div>
