<body>
    <main>
        <div class="row">
            <div class="photo">
                <img src="../assets/cachorro.jfif" alt="photo" style="border-radius: 5%;">
            </div>
            <div class="col-md-6">
                <div class="description">
                    <p><b>Nome:</b> {{this.petService.formData.name}}</p>
                    <p><b>Animal:</b> {{this.petService.formData.animal}}</p>
                    <p><b>Raça:</b> {{this.petService.formData.breed}}</p>
                    <p><b>Idade:</b> {{this.petService.formData.age_years}} anos e
                        {{this.petService.formData.age_months}}
                        meses
                    </p>
                    <p><b>Dono:</b> {{this.petService.formData.current_owner_id}}</p>
                    <p><b>Endereço:</b> {{this.user.Street}}, n° {{this.user.House_number}} - {{this.user.District}}</p>
                    <p><b>Descrição:</b> {{this.petService.formData.description}}</p>
                    <div>
                        <div>
                            <div class="divAdotar">
                                <a type="button" class="btn btn-primary" [routerLink]="['/adopt-page/']">Adotar</a>
                            </div>
                            <div class="divReportar">
                                <a type="button" class="btn btn-danger"
                                    [routerLink]="['/report-page/', this.petService.formData.id]">Reportar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>