body{
    background-image: url(../../assets/FundoPatinhas.png);
    background-size: cover;
}
main{
    padding: 12.5%;
    padding-bottom: 8.7%;
    margin-left: 3%;
    width: 750px;
}
.row{
    font-size: 20px;
    border-radius: 5%;
    background-image: url(../../assets/CardsPetRegistrationBackgroundPhotoo.png);
    background-repeat: no-repeat;
    border-style: groove;
    background-size: cover;
    margin-top: 3%;
    padding: 2%;
    padding-bottom: 2%; 
    height: 240%;
    width: 240%;
}
.photo{
    width: 50%;
    height: 50%;
    padding-left: 2% ;
    padding-top: 6.3%;
}
img{
    width: 400px;
}
.col-md-6{
    padding: 2%;
    width: 50%;
    height: 50%;
    background-color: #bdc8e2;
    border-radius: 5%;
}
.divAdotar{
    float: left;
    padding-right: 10px;
}
.divReportar{
    float: left;
    padding-right: 10px;
}
.buttonReportConfirm{
    border:1px solid;
    padding: 3px 10px; 
    vertical-align: middle;
    background-color: blue; 
    color:white;
    border-radius:6px; 
    font-size: 20px; 
    font-family:helvetica, serif;
    text-decoration:none;
}
.buttonReportCancel{
    border:1px solid;
    padding: 3px 10px; 
    vertical-align: middle;
    background-color: red; 
    color:white;
    border-radius:6px; 
    font-size: 20px; 
    font-family:helvetica, serif;
    text-decoration:none;
}