
<div class="row">
    <div class="col-md-6">
        <img src="../assets/cachorro.jfif" alt="" style="border-radius: 5%;" 
        >
    </div>
    <div class="col-md-6">
        <div class="description">
            <p>Nome: {{this.petService.formData.name}}</p>
            <p>Tipo: {{this.petService.formData.animal}}</p>
            <p>Raça: {{this.petService.formData.breed}}</p>
            <p>Idade: {{this.petService.formData.age_years}} anos e {{this.petService.formData.age_months}} meses</p>
            <p>Dono: {{this.petService.formData.current_owner_id}}</p>
            <p>Endereço: {{this.user.Street}}, n° {{this.user.House_number}} - {{this.user.District}}</p>
            <p>Descrição: {{this.petService.formData.description}}</p>
            <div>
                <div>
                    <div>
                        <a class="buttonAdotar"[routerLink]="['/adopt-page/']">Adotar</a>
                    </div>
                    <div>
                        <a class="buttonReportar" [routerLink]="['/report-page/']">Reportar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</div>
