.row{
    width: 1000px;
    background: rgb(235, 235, 235);
    margin-left: 10%;
    margin-top: 100px;
}
.col-md-6{
    padding: 30px;
    width: 400px;
}
.description{
    border-style: groove;
    border-radius: 5%;
} 
p{
    width: 350px;
}
img{
    width: 400px;
}

div > div {
    display: inline-block;
   
}
.buttonAdotar{
    border:1px solid;
    padding: 3px 10px; 
    vertical-align: middle;
    background:#20878f; 
    color:white;
    border-radius:6px; 
    font-size: 20px; 
    font-family:helvetica, serif;
    text-decoration:none;
    text-align: center
}
.buttonReportar{
    border:1px solid; 
    padding: 3px 10px; 
    vertical-align: middle; 
    background:#d42008; 
    color:white;border-radius:6px; 
    font-size: 20px; 
    font-family:helvetica, serif;
    text-decoration:none;
}

