<form>
    <section class="container">
        <fieldset>
            <legend>Reportar problema aos administradores</legend>
            <div class="nameReport">
                <label for="disabledTextInput" class="form-label">Seu Nome:</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="Informe seu nome"/>
            </div>
            <div class="telefonelReport">
                <label for="disabledTextInput" class="form-label">Seu telefone:</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="Informe seu telefone"/>
            </div>
            <div class="emailReport">
                <label for="disabledTextInput" class="form-label">Seu e-mail:</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="Informe seu e-mail"/>
            </div>
            <div class="problemReport">
                <label for="disabledTextInput" class="form-label">Descrição do problema:</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="Descreva o problema"/>
            </div>
            <button type="button" class="buttonReportConfirm" (click)="confirmReport()">Confirmar</button>
            <button type="button" class="buttonReportCancel" [routerLink]= "['/']">Cancelar</button>
        </fieldset>
    </section>
  </form>