body{
    background-image: url(../../assets/card.png);
    padding-top: 8.05%;
    padding-bottom: 8.05%;
    background-size: cover;
    font-size: 20px;
}

.container{
    background-image: url(../../assets/CardsPetRegistrationBackgroundPhotoo.png);
    margin-top: 70px;
    width: 500px;
    margin-left: 30%;
    margin-right: 30%;
    border-style: groove;
    border-radius: 5%;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.divConfirmar{
    float: left;
    padding-right: 10px;
}

.buttonReportConfirm
{
    border:1px solid;
    padding: 3px 10px; 
    vertical-align: middle;
    background:#20878f; 
    color:white;
    border-radius:6px; 
    font-size: 20px; 
    font-family:helvetica, serif;
    text-decoration:none;
}

.buttonReportCancel
{
    border:1px solid;
    padding: 3px 10px; 
    vertical-align: middle;
    background:#d64c22; 
    color:white;
    border-radius:6px; 
    font-size: 20px; 
    font-family:helvetica, serif;
    text-decoration:none;
}

button{
    margin-top: 10px;
}