
body{
    background-image: url(../../assets/card.png);
    padding: 4.7%;
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
    padding-bottom: 0.45%;
}

.container{
    width: 750px;
    margin-left: 20%;
    margin-right: 20%;
    border-style: groove;
    border-radius: 5%;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px; 
    background-image: url(../../assets/CardsPetRegistrationBackgroundPhotoo.png);
    background-size: cover;
    height: 100%;
    color: black;  
}
.mb-3{
    width: 50%;
}
.btn-primary{
    background-color:#c9315c;
    border-color: #c9315c; 
}
.col-md-2{
    width: 100px;
}
.form-select{
    width: 100% !important; 
    height: 37% !important; 
    margin-left: 2px !important;
}
.title{
    text-align:center;
    padding: 30px;
}