section{
    margin-left: 20px;
}
form-group .btnSubmit button {
    background-color: rgb(0, 168, 168);
}
.form-group .btnSubmit button:hover {
    background-color: rgb(0, 199, 199);
    cursor: pointer;
}
.form-group .btnCancel button{
    background-color: rgb(207, 101, 101);
}
.form-group .btnCancel button:disabled {
    opacity: 0;
}
.form-group .btnCancel button:hover {
    background-color: rgb(236, 116, 116);
    cursor: pointer;
}
input.invalid {
    border-color: red;
}
select.invalid {
    border-color: red;
}
thead{
    background-color: #f0eeee;
}
table tbody tr:hover{
    background-color: #f5f5f5;
    cursor: pointer;
}
.container{
    display: flex;
    align-items: center;
}