body {
    padding-top: 3.5rem;
    background-color: #6b737a;
    background-image: url(../../assets/cards-background-2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width: 70%;
    
    
}
.container{
    margin-left: 20%;
}
.col-md-3{
  
    margin-bottom: 5%;
    margin-right: 5%;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 5%;
}
.jumbotron{
    background-image: url(../../assets/home-background.jpeg);
    background-size: cover;
    height: 100%;

}