<body>
    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Get Pet</h1>
          <p>Nosso projeto final, adoção de animais</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4" *ngFor=" let item of this.petService.list">
            <img src="../../assets/cachorro.jfif" class="card-img-top" alt="...">
            <h2>Nome:{{item.Animal}}</h2>
            <p>Animal:</p>
            <p>Raça:</p>
            <p>Endereço:</p>
            <p><a class="btn btn-secondary" href="#" role="button">Saiba mais &raquo;</a></p>
          </div>
          
        </div>

        <hr>

      </div> <!-- /container -->

    </main>

    <footer class="container">
      <p>&copy; Company 2017-2018</p>
    </footer>
</body>