<body class="d-flex flex-column h-100">
    <div style="height: 50px;"></div>
    <!-- Begin page content -->
    <main class="flex-shrink-0">
      <div class="container">
        <h1 class="mt-5" style="color: #343A40;">CADASTRO REALIZADO</h1>
        <p class="lead"></p>
        <button type="button" class="btn btn-primary" routerLink="/" >
          Voltar ao início
        </button>
        
      </div>
      <br>
    </main>
    
    <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
      </div>
    </footer>
    
    
        
</body>